{% extends "base.html" %}
<title>{% block title %} pi-dal&404 {% endblock %}</title>
{% block content %}
<div class="banner_w3lspvt-2">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/" class="font-weight-bold">主页面</a></li>
        <li class="breadcrumb-item" aria-current="page">404</li>
    </ol>
</div>
<!-- //banner -->
</div>
<!-- //main banner -->

<!-- 404 -->
<div class="error pb-5 pt-2 text-center" id="price">
    <div class="container pb-xl-5 pb-lg-3">
        <img src="https://cdn.jsdelivr.net/gh/pi-dal/cdn@1.0/images/error.png" alt="" class="img-fluid"/>
        <h3 class="title-w3 text-bl my-3 font-weight-bold text-capitalize">这个星球上找不到你要的文章</h3>
        <p class="sub-tittle text-center4">请搭上我们的火箭回到主星球站点</p>
        <a href="/" class="btn button-style mt-5">搭乘火箭</a>
    </div>
</div>
<!-- //404 -->
<!-- footer -->
<!-- //footer -->
<!-- copyright bottom -->
<div class="copy-bottom bg-li py-4 border-top">
    <div class="container-fluid">
        <div class="d-md-flex px-md-3 position-relative text-center">
            <!-- footer social icons -->
            <div class="social-icons-footer mb-md-0 mb-3">
                <ul class="list-unstyled">
                    <li>
                        <a href="#">
                            <span class="fa fa-facebook"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-twitter"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-google-plus"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-instagram"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- //footer social icons -->
            <!-- copyright -->
            <div class="copy_right mx-md-auto mb-md-0 mb-3">
                <p class="text-bl let">Copyright &copy; 2019.Company name All rights reserved.More Templates <a
                        href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a
                        href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
                </p>
            </div>
            <!-- //copyright -->
            <!-- move top icon -->
            <a href="#home" class="move-top text-center">
                <span class="fa fa-level-up" aria-hidden="true"></span>
            </a>
            <!-- //move top icon -->
        </div>
    </div>
</div>
<!-- //copyright bottom -->
{% endblock  %}