{% extends "base.html" %}{% load static %}
<title>{% block title %} pi-dal&主星球 {% endblock %}</title>
{% block content %}
<div class="banner_w3lspvt position-relative">
    <div class="container">
        <div class="d-md-flex">
            <div class="w3ls_banner_txt">
                <h3 class="w3ls_pvt-title">打赏 <br><span>开始</span></h3>
                <p class="text-sty-banner">我必须向你阐述一些事情 。
                    我是一个中学生，我真心希望你打赏后，能获得更大的收益。</p>
                <a href="/about" class="btn button-style mt-md-5 mt-4">查看更多</a>
            </div>
            <div class="banner-img">
                <img src="https://cdn.jsdelivr.net/gh/pi-dal/cdn@1.0/images/banner.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
    <!-- animations effects -->
    <div class="icon-effects-w3l">
        <img src="https://cdn.jsdelivr.net/gh/pi-dal/cdn@1.0/images/shape1.png" alt="" class="img-fluid shape-wthree shape-w3-one">
        <img src="https://cdn.jsdelivr.net/gh/pi-dal/cdn@1.0/images/shape2.png" alt="" class="img-fluid shape-wthree shape-w3-two">
        <img src="https://cdn.jsdelivr.net/gh/pi-dal/cdn@1.0/images/shape3.png" alt="" class="img-fluid shape-wthree shape-w3-three">
        <img src="https://cdn.jsdelivr.net/gh/pi-dal/cdn@1.0/images/shape5.png" alt="" class="img-fluid shape-wthree shape-w3-four">
        <img src="https://cdn.jsdelivr.net/gh/pi-dal/cdn@1.0/images/shape4.png" alt="" class="img-fluid shape-wthree shape-w3-five">
        <img src="https://cdn.jsdelivr.net/gh/pi-dal/cdn@1.0/images/shape6.png" alt="" class="img-fluid shape-wthree shape-w3-six">
    </div>
    <!-- //animations effects -->
</div>
<!-- //banner -->
</div>
<!-- //main banner -->

<!-- what we do section -->
<div class="what bg-li py-5" id="what">
    <div class="container py-xl-5 py-lg-3">
        <div class="row about-bottom-w3l text-center mt-4">
            <div class="col-lg-4 about-grid">
                <div class="about-grid-main">
                    <img src="https://cdn.jsdelivr.net/gh/pi-dal/cdn@1.0/images/img1.png" alt="" class="img-fluid">
                    <h4 class="my-4">我的项目</h4>
                    <p>数学爱好者，物理爱好者，信息技术爱好者，前沿科技爱好者-------'理工男'😂😂😂</p>
                    <a href="/about" class="button-w3ls btn mt-sm-5 mt-4">查看更多</a>
                </div>
            </div>
            <div class="col-lg-4 about-grid my-lg-0 my-5">
                <div class="about-grid-main">
                    <img src="https://cdn.jsdelivr.net/gh/pi-dal/cdn@1.0/images//img2.png" alt="" class="img-fluid">
                    <h4 class="my-4">为此满足</h4>
                    <p>数学爱好者，物理爱好者，信息技术爱好者，前沿科技爱好者-------'理工男'😂😂😂</p>
                    <a href="/about" class="button-w3ls btn mt-sm-5 mt-4">查看更多</a>
                </div>
            </div>
            <div class="col-lg-4 about-grid">
                <div class="about-grid-main">
                    <img src="https://cdn.jsdelivr.net/gh/pi-dal/cdn@1.0/images/img3.png" alt="" class="img-fluid">
                    <h4 class="my-4">我的特点</h4>
                    <p>数学爱好者，物理爱好者，信息技术爱好者，前沿科技爱好者-------'理工男'😂😂😂</p>
                    <a href="/about" class="button-w3ls btn mt-sm-5 mt-4">查看更多</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //what we do section -->

<!-- middle -->
<section class="midd-w3 py-5" id="faq">
    <div class="container py-xl-5 py-lg-3">
        <div class="row">
            <div class="col-lg-6 about-right-faq">
                <h6>个人经历</h6>
                <h3 class="text-da">4年编程经历</h3>
                <p class="mt-4">scratch游戏开发，python可视化数据，python--django网站开发，python爬虫。</p>
                <ul class="w3l-right-book mt-4">
                    <li></li>
                    <li>pi-dal基础</li>
                    <li>python学习</li>
                    <li>学习人数</li>
                    <li>技术支持</li>
                </ul>
                <a href="/about" class="btn button-style button-style-2 mt-sm-5 mt-4">Read
                    More</a>
            </div>
            <div class="col-lg-6 left-wthree-img text-right">
                <img src="{% static 'images/b1.png' %}" alt="" class="img-fluid mt-5"/>
            </div>
        </div>
    </div>
</section>
<!-- //middle -->
<div class="tlinks">Collect from <a href="http://www.cssmoban.com/">自助建站</a></div>

<!-- services -->
<section class="banner-bottom-w3layouts bg-li py-5" id="services">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="tittle text-center font-weight-bold">服务</h3>
        <p class="sub-tittle text-center mt-3 mb-sm-5 mb-4">我同意开源软件协议。也对python学习提供技术支持。</p>
        <div class="row pt-lg-4">
            <div class="col-lg-4 about-in text-center">
                <div class="card">
                    <div class="card-body">
                        <div class="bg-clr-w3l">
                            <span class="fa fa-line-chart"></span>
                        </div>
                        <h5 class="card-title mt-4 mb-3">学习人数</h5>
                        <p class="card-text">随着python的'火爆'，我肯定学习人数一定会加倍增加。</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 about-in text-center my-lg-0 my-3">
                <div class="card active">
                    <div class="card-body">
                        <div class="bg-clr-w3l">
                            <span class="fa fa-usd"></span>
                        </div>
                        <h5 class="card-title mt-4 mb-3">项目计划</h5>
                        <p class="card-text">做一些好的开源软件分享给大家</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 about-in text-center">
                <div class="card">
                    <div class="card-body">
                        <div class="bg-clr-w3l">
                            <span class="fa fa-lightbulb-o"></span>
                        </div>
                        <h5 class="card-title mt-4 mb-3">服务</h5>
                        <p class="card-text" 我同意开源软件协议。也对python学习提供技术支持。></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //services -->

<!-- stats -->
<section class="bottom-count py-5" id="stats">
    <div class="container py-xl-5 py-lg-3">
        <div class="row">
            <div class="col-lg-5 left-img-w3ls">
                <img src="https://cdn.jsdelivr.net/gh/pi-dal/cdn@1.0/images/b2.png" alt="" class="img-fluid"/>
            </div>
            <div class="col-lg-7 right-img-w3ls pl-lg-4 mt-lg-2 mt-4">
                <div class="bott-w3ls mr-xl-5">
                    <h3 class="title-w3 text-bl mb-3 font-weight-bold">个人真实情况</h3>
                    <p class="title-sub-2 mb-3">中学生 <br>来自广东</p>
                    <p>向你解释如何谴责快乐和痛苦的这一切的误区好评。 </p>
                </div>
                <div class="row mt-5">
                    <div class="col-sm-4 count-w3ls">
                        <h4>1000+</h4>
                        <p>代码</p>
                    </div>
                    <div class="col-sm-4 count-w3ls mt-sm-0 mt-3">
                        <h4>10+</h4>
                        <p>项目</p>
                    </div>
                    <div class="col-sm-4 count-w3ls mt-sm-0 mt-3">
                        <h4>5+</h4>
                        <p>开发领域</p>
                    </div>
                </div>
                <div class="row mt-sm-5 mt-4">
                    <div class="col-sm-4 count-w3ls">
                        <h4>1000+</h4>
                        <p>代码</p>
                    </div>
                    <div class="col-sm-4 count-w3ls mt-sm-0 mt-3">
                        <h4>10+</h4>
                        <p>项目</p>
                    </div>
                    <div class="col-sm-4 count-w3ls mt-sm-0 mt-3">
                        <h4>5+</h4>
                        <p>开发领域</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //stats -->

<!-- partners -->
<!-- //partners -->

<!-- footer -->
<!-- //footer -->
<!-- copyright bottom -->
<div class="copy-bottom bg-li py-4 border-top">
    <div class="container-fluid">
        <div class="d-md-flex px-md-3 position-relative text-center">
            <!-- footer social icons -->
            <div class="social-icons-footer mb-md-0 mb-3">
                <ul class="list-unstyled">
                    <li>
                        <a href="#">
                            <span class="fa fa-facebook"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-twitter"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-google-plus"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-instagram"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- //footer social icons -->
            <!-- copyright -->
            <div class="copy_right mx-md-auto mb-md-0 mb-3">
                <p class="text-bl let">Copyright &copy; 2019.Company name All rights reserved.More Templates <a
                        href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a
                        href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
                </p>
            </div>
            <!-- //copyright -->
            <!-- move top icon -->
            <a href="#home" class="move-top text-center">
                <span class="fa fa-level-up" aria-hidden="true"></span>
            </a>
            <!-- //move top icon -->
        </div>
    </div>
</div>
<!-- //copyright bottom -->
{% endblock %}
